parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Filament\\\\Forms\\\\Contracts\\\\HasForms\\:\\:getForm\\(\\)\\.$#"
			count: 1
			path: src/Filament/Forms/Components/PlaceholderInput.php
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getPlaceholderVariables\\(\\)\\.$#"
			count: 1
			path: src/Filament/Forms/Components/PlaceholderInput.php
